<!-- Modal del Formulario r12 -->
<div class="modal-overlay" *ngIf="isVisible" (click)="closeModal()">
  <div class="modal" (click)="$event.stopPropagation()">
    <!-- Header -->
    <div class="modal-header">
      <div class="header-content">
        <span class="operation-icon">📝</span>
        <h3 class="modal-title">Crear Nuevo Registro R12</h3>
      </div>
      <button class="close-button" (click)="closeModal()" type="button">
        <span>&times;</span>
      </button>
    </div>

    <!-- Body -->
    <div class="modal-body">
      <form [formGroup]="r12Form" (ngSubmit)="onSubmit()" class="w-100">
        <!-- Sección: Título -->
        <h5 class="mt-3 mb-2 border-bottom pb-1">Título</h5>
        <div class="row g-2">
          <!-- Tipo Identificación -->
          <div class="col-md-6">
            <label for="tipoIdentificacion" class="form-label"
              >Tipo de Identificación</label
            >
            <select
              id="tipoIdentificacion"
              class="form-select"
              formControlName="tipoIdentificacion"
            >
              <option [ngValue]="null" disabled selected>
                Seleccione un tipo
              </option>
              <option
                *ngFor="let item of arrayTipoIdentificacion"
                [ngValue]="item"
              >
                {{ item.descripcion }}
              </option>
            </select>
            <div
              *ngIf="isInvalid('tipoIdentificacion')"
              class="text-danger small mt-1"
            >
              Escoga un tipo de identificación
            </div>
          </div>

          <!-- nombreGrupoEconomico -->
          <div class="col-md-6">
            <label for="nombreGrupoEconomico" class="form-label"
              >Nombre del grupo económico</label
            >
            <input
              type="text"
              id="nombreGrupoEconomico"
              class="form-control"
              formControlName="nombreGrupoEconomico"
            />
            <div
              *ngIf="isInvalid('nombreGrupoEconomico')"
              class="text-danger small mt-1"
            >
              El nombre del grupo economico es obligatoria
            </div>
          </div>

          <!-- numeroOperacion -->
          <div class="col-md-6">
            <label for="identificacionIntegrante" class="form-label"
              >Identificación del integrante</label
            >
            <input
              type="text"
              id="identificacionIntegrante"
              class="form-control"
              formControlName="identificacionIntegrante"
            />
            <div
              *ngIf="isInvalid('identificacionIntegrante')"
              class="text-danger small mt-1"
            >
              La identificacion es obligatorio
            </div>
          </div>

                  
        </div>
      </form>
    </div>

    <!-- Footer -->
    <div class="modal-footer">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="r12Form.invalid"
        (click)="onSubmit()"
      >
        <i class="bi bi-check"></i> Guardar Registro
      </button>
      <button type="button" (click)="closeModal()" class="btn btn-secondary">
        <i class="bi bi-x"></i> Cancelar
      </button>
    </div>
  </div>
</div>
