<div class="modal-overlay" *ngIf="isVisible" (click)="closeModal()">
  <div class="modal" (click)="$event.stopPropagation()">

<!-- Header --> 
    <div class="modal-header">
      <div class="header-content">
        <span class="operation-icon">📝</span>
        <h3 class="modal-title">Crear Nuevo Registro R05</h3>
      </div>
      <button class="close-button" (click)="closeModal()" type="button">
        <span>&times;</span>
      </button>
    </div>

<!-- Body -->
 <div class="modal-body">
        <form [formGroup]="r11Form" (ngSubmit)="onSubmit()" class="w-100">
            <!-- Sección: Título -->
            <h5 class="mt-3 mb-2 border-bottom pb-1">Título</h5>
            <div class="row g-2">
               <!-- Tipo Identificación -->
                <div class="col-md-6">
                    <label for="tipoIdentificacion" class="form-label">Tipo de Identificación</label>
                    <select 
                    id="tipoIdentificacion" 
                    class="form-select"
                    formControlName="tipoIdentificacion">
                    <option [ngValue]="null" disabled selected>Seleccione un tipo</option>
                    <option *ngFor="let item of arrayTipoIdentificacion" [ngValue]="item">
                        {{ item.descripcion }}
                    </option>
                    </select>
                    <div *ngIf="isInvalid('tipoIdentificacion')" class="text-danger small mt-1">
                    Escoga un tipo de identificación
                    </div>
                </div>
                <!--Identificación Sujeto-->
                <div class="col-md-6">
                    <label for="identificacionSujeto" class="form-label">Identificación del Sujeto</label>
                    <input type="text" id="identificacionSujeto" class="form-control" formControlName="identificacionSujeto" />
                    <div *ngIf="isInvalid('identificacionSujeto')" class="text-danger small mt-1">
                            La identificación del Sujeto es obligatorio
                    </div>
                </div>

                <!--Numero Operacion-->
                <div class="col-md-6">
                    <label for="numeroOperacion" class="form-label">Número de Operación</label>
                    <input type="text" id="numeroOperacion" class="form-control" formControlName="numeroOperacion" />
                    <div *ngIf="isInvalid('numeroOperacion')" class="text-danger small mt-1">
                        El número de Operación es obligatorio
                    </div>
                </div>
                <!--Entidad Participante-->
                <div class="col-md-6">
                    <label for="codigoEntidadParticipe" class="form-label">Tipo de Entidad Participante</label>
                    <select 
                    id="codigoEntidadParticipe" 
                    class="form-select"
                    formControlName="codigoEntidadParticipe">
                    <option [ngValue]="null" disabled selected>Seleccione un tipo</option>
                    <option *ngFor="let item of arrayEntidadParticipe" [ngValue]="item">
                        {{ item.descripcion }}
                    </option>
                    </select>
                    <div *ngIf="isInvalid('codigoEntidadParticipe')" class="text-danger small mt-1">
                    Escoga un tipo de entidad participante
                    </div>
                </div>

                <!--Porcentaje Participacion-->
                <div class="col-md-6">
                    <label for="porcentajeParticipacion" class="form-label">Porcentaje de Participación</label>
                    <input type="number" id="porcentajeParticipacion" class="form-control" formControlName="porcentajeParticipacion" />
                    <div *ngIf="isInvalid('porcentajeParticipacion')" class="text-danger small mt-1">
                        El porcentaje de Participación es obligatorio
                    </div>
                </div>
            </div>
        </form>
  </div>
<!-- Footer -->
 <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="r11Form.invalid" (click)="onSubmit()">
        <i class="bi bi-check"></i> Guardar Registro
      </button>
      <button type="button" (click)="closeModal()" class="btn btn-secondary">
        <i class="bi bi-x"></i> Cancelar
      </button>
    </div>
    </div>
</div>

